h1{
  color: white;
  text-align: center;
}

 body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("LinkedInPhoto.jpeg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav a:link {
  color: white;
  text-decoration: none;
  background: LightSkyBlue;
  padding: 10px;
  border-style: solid;
  border-color: white;
}

nav a:visited {
  color: white;
}

nav a:hover {
  color: LightSkyBlue;
  text-decoration: none;
  background: white;
  padding: 10px;
  border-style: solid
  border-color: LightSkyBlue;
}

nav a:active {
  color: silver;
}

.nav_button{
  float: left;
  position:relative;
  left:37%;
  margin: 10px;
}

img{
  position: absolute;
  right: 555px;
  padding-top: 100px;
}
