body {
    margin: 60px auto;
    width: 70%;
    background-color: Black;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
nav:hover {
    text-decoration: underline;
}
h1 {
    vertical-align: middle;
    text-align: center;
    font-size: 3em;
    padding: 11px;
    color: white;
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
    text-align: left; 
    padding: 30px;
    color: white;
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

    
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
