body{
  background-color: black;
}

h1, h2{
  color: white;
}

nav a:link {
  color: white;
  text-decoration: none;
  background: LightSkyBlue;
  padding: 10px;
  border-style: solid;
  border-color: white;
}

nav a:visited {
  color: white;
}

nav a:hover {
  color: LightSkyBlue;
  text-decoration: none;
  background: white;
  padding: 10px;
  border-style: solid
  border-color: LightSkyBlue;
}

nav a:active {
  color: silver;
}

.nav_button{
  float: left;
  margin: 10px
}
  
nav{
  padding-top: 100px
  padding-left: 100px
}

img{
  position: absolute;
  right: 100px;
}
