h5{
	margin-top: 0px;
	margin-bottom: 0px;
}

.courses ul{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 20px;
	list-style: none;
}

.gpa{
	color: MidnightBlue;
}

.courses{
	margin-left: 50px;
}