/*.full{
	background-color: rgb(202, 235, 242, 0.5);
	padding: 20px;
	padding-top: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/


/* Style the buttons that are used to open and close the accordion panel */

#tabs{
	background: #006699;
	color: white;
	margin-bottom: 0px;
	padding: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
}

.internships, .on_campus{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

